@model NotQuora.Models.Question

@{
    ViewData["Title"] = "CreateQuestion";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>Create A Question</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateQuestion" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                 <textarea asp-for="Description" id="Description" class="ckeditor" name="Description" rows="200"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagId" class="control-label"></label>
                <select asp-for="TagId" class ="form-control" asp-items="ViewBag.taglist">
                    <option>Pick a tag...</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    $(document).ready(function () {
        CKEDITOR.replace('#Description');
    });
</script>